@use '../../foundation/color' as c;
@use '../../foundation/font' as f;

.c-Nav{
    display:flex;
    text-align: right;
    height: 126px;
    @media screen and (min-width: 768px) {
        background-color: c.$lightbrown;
        margin-top: 150px;
    }
    &__iconf {
        color: c.$darkbrown;
        height: 20px;
        width: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        @media screen and (min-width: 768px) {
            display: block;
            display: flex;
            width: 60px;
            margin: auto 60px;
            justify-content: space-between;
            i {
                width: 24px;
                height: 24px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 960px) {
            display: block;
            display: flex;
            width: 60px;
            margin: 45px 10px;
            justify-content: space-between;
            i {
                width: 24px;
                height: 24px;
            }
        }
    }
    &__icon {
        color: c.$darkbrown;
        height: 20px;
        width: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        @media screen and (min-width: 768px) {
            display: block;
            display: flex;
            width: 60px;
            margin: 70px 60px;
            justify-content: space-between;
            i {
                width: 24px;
                height: 24px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 960px) {
            display: block;
            display: flex;
            width: 60px;
            margin: 63px 10px;
            justify-content: space-between;
            i {
                width: 24px;
                height: 24px;
            }
        }
    }
    
}
.c-nav{
    display:flex;
    text-align: right;
    height: 126px;
    @media screen and (min-width: 768px) {
        background-color: c.$lightbrown;
    }
    &__iconf {
        color: c.$darkbrown;
        height: 20px;
        width: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        @media screen and (min-width: 768px) {
            display: block;
            display: flex;
            width: 60px;
            margin: auto 60px;
            justify-content: space-between;
            i {
                width: 24px;
                height: 24px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 960px) {
            display: block;
            display: flex;
            width: 60px;
            margin: 45px 10px;
            justify-content: space-between;
            i {
                width: 24px;
                height: 24px;
            }
        }
    }
    &__icon {
        color: c.$darkbrown;
        height: 20px;
        width: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        @media screen and (min-width: 768px) {
            display: block;
            display: flex;
            width: 60px;
            margin: 70px 60px;
            justify-content: space-between;
            i {
                width: 24px;
                height: 24px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 960px) {
            display: block;
            display: flex;
            width: 60px;
            margin: 63px 10px;
            justify-content: space-between;
            i {
                width: 24px;
                height: 24px;
            }
        }
    }
    
}
.menu-headermenu-container {
    @media screen and (min-width: 768px) {
        width: 300%;
        display: flex;
        height: 126px;
        background-color: c.$lightbrown;
    }
        ul {
            list-style: none;
            width: 100%;
        }
        .menu {
            color: c.$darkbrown;
            display: flex;
            display: none;
            flex-wrap: wrap;
            @media screen and (min-width:768px) {
                display: block;
                width: 100%;
                display: flex;
                font-size: 24px;
                padding:45px 0;
            }
            @media screen and (min-width: 768px) and (max-width: 1110px) {
                display: block;
                width: 100%;
                display: flex;
                font-size: 16px;
            }
            li {
                border-left: 1px solid c.$midbronw;
                a {
                    margin: 0 40px;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    @media screen and (min-width: 768px) and (max-width: 960px) {
                        margin: 45px 20px;
                    }
                }
            }
        }
    }
    .menu-spheader-container {
        width: 100%;
        @media screen and (min-width: 375px) {
            width: 120%;
        }
        @media screen and (min-width: 428px) {
            width: 150%;
        }
        @media screen and (min-width: 768px) {
            width: 0;
        }
        .menu {
            color: c.$darkbrown;
            display: block;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            li {
                width: calc(92%/3);
                height: 46px;
                flex-wrap: wrap;
                justify-content: center;
                background-color: c.$lightbrown;
                margin: 2.5px;
                a {
                    display: block;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
            }
            @media screen and (min-width:768px) {
                display: none;
            }
        }
        }
        .menu-headernavi-container {
            @media screen and (min-width: 768px) {
                width: 300%;
            }
                ul {
                    list-style: none;
                    width: 100%;
                }
                .menu {
                    color: c.$darkbrown;
                    display: flex;
                    display: none;
                    flex-wrap: wrap;
                    @media screen and (min-width:768px) {
                        display: block;
                        width: 100%;
                        display: flex;
                        font-size: 24px;
                        padding:55px 0;
                    }
                    @media screen and (min-width: 768px) and (max-width: 1110px) {
                        display: block;
                        width: 100%;
                        display: flex;
                        font-size: 16px;
                    }
                    li {
                        border-left: 1px solid c.$midbronw;
                        a {
                            margin: 0 40px;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                            @media screen and (min-width: 768px) and (max-width: 960px) {
                                margin: 45px 20px;
                            }
                        }
                    }
                }
            }

#menu-item-46 ::before {
    content: '\f015';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 1rem;
    color: c.$darkbrown;
    display: inline-block;
    height: 10px;
    width: 80%;
}
#menu-item-48 ::before {
    content: '\f05a';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 1rem;
    color: c.$darkbrown;
    display: inline-block;
    height: 10px;
    width: 80%;
}
#menu-item-47 ::before {
    content: '\f044';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 1rem;
    color: c.$darkbrown;
    display: inline-block;
    height: 10px;
    width: 80%;
}
#menu-item-50 ::before {
    content: '\f07a';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 1rem;
    color: c.$darkbrown;
    display: inline-block;
    height: 10px;
    width: 80%;
}
#menu-item-49 ::before {
    content: '\f0e0';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 1rem;
    color: c.$darkbrown;
    display: inline-block;
    height: 10px;
    width: 80%;
}
    