@use '../../foundation/color' as c;
@use '../../foundation/font' as f;

.c-title {
    margin-top: 50px;
    @media screen and (min-width: 768px) {
        margin-top: 150px;
    }
    &-shop {
        position: relative;
        @media screen and (min-width: 768px) {
            margin-left: 10%;
        }
        h2 {
            position: relative;
            font-size: 24px;
            color: c.$darkbrown;
            @media screen and (min-width: 768px) {
                font-size: 32px;
            }
            span {
                display: inline-block;
                margin: 10px;
                background-color: rgba(251,242,247,0.8);
                position: relative;
                z-index: 160;
            }
        }
        span::after {
            content: "";
            background-image: url("./../img/GerberaPNG/g03sp.png");
            background-size: 84px 75px;
            opacity: 0.5;
            width: 84px;
            height: 785px;
            left: -15px;
            top: -5px;
            position: absolute;
            display: flex;
            z-index: -5;
            margin: -10px -20px;
        }
        span::before {
            content: "";
            background-image: url("./../img/GerberaPNG/g02sp.png");
            background-size: 54px 52px;
            opacity: 0.5;
            width: 54px;
            height: 52px;
            left: 0px;
            top: 20px;
            position: absolute;
            z-index: -1;
        }
    }
    &-info {
        position: relative;
        @media screen and (min-width: 768px) {
            margin-left: 10%;
        }
        h2 {
            position: relative;
            font-size: 24px;
            color: c.$darkbrown;
            display: inline-block;
            @media screen and (min-width: 768px) {
                font-size: 32px;
            }
            span {
                display: inline-block;
                margin: 10px;
                position: relative;
                z-index: 160;
                background-color: rgba(251,242,247,0.8);
            }
        }
        span::after {
            content: "";
            background-image: url("./../img/GerberaPNG/g03sp.png");
            background-size: 84px 75px;
            opacity: 0.5;
            width: 84px;
            height: 75px;
            left: -15px;
            top: -5px;
            position: absolute;
            display: flex;
            z-index: -5;
            margin: -10px -20px;
        }
        span::before {
            content: "";
            background-image: url("./../img/GerberaPNG/g02sp.png");
            background-size: 54px 52px;
            opacity: 0.5;
            width: 54px;
            height: 52px;
            left: 0px;
            top: 20px;
            position: absolute;
            z-index: -1;
        }
    }
    &-about {
        display: block;
        position: relative;
        @media screen and (min-width: 768px) {
            margin-left: 10%;
        }
        h2 {
            position: relative;
            font-size: 24px;
            color: c.$darkbrown;
            @media screen and (min-width: 768px) {
                font-size: 32px;
            }
            span {
                display: inline-block;
                margin: 10px;
                background-color: rgba(251,242,247,0.8);
                position: relative;
                z-index: 160;
            }
        }
        span::after {
            content: "";
            background-image: url("./../img/GerberaPNG/g03sp.png");
            background-size: 84px 75px;
            opacity: 0.5;
            width: 84px;
            height: 75px;
            left: -15px;
            top: -5px;
            position: absolute;
            display: flex;
            z-index: -5;
            margin: -10px -20px;
        }
        span::before {
            content: "";
            background-image: url("./../img/GerberaPNG/g02sp.png");
            background-size: 54px 52px;
            opacity: 0.5;
            width: 54px;
            height: 52px;
            left: 0px;
            top: 20px;
            position: absolute;
            z-index: -1;
        }
        &-img {
            position: absolute;
            text-align: center;
            width: 80%;
            @media screen and (min-width: 768px) {
                width: 100%;
            }
            img{
                display: block;
                width: 235px;
                height: 197px;
                margin: 60px auto 0;
                text-align: center;
                @media screen and (min-width: 768px) {
                    width: 350px;
                    height: 350px;
                    margin-left: 10%;
                    margin-top: 40px;
                }
                @media screen and (min-width: 1050px) {
                    width: 500px;
                    height: 500px;
                }
            }
        }
        &-bot {
            height: 176.04px;
            width: 285px;
            display: flex;
            @media screen and (min-width: 768px) {
                display: block;
                position: relative;
            }
            & #img1 {
                height: 144px;
                width: 144px;
                margin-bottom: 140px;
                margin-top: 35px;
                @media screen and (min-width: 768px) {
                    width: 200px;
                    height: 200px;
                    bottom: 800px;
                    left: 250px;
                    position: absolute;
                }
                @media screen and (min-width: 960px) {
                    width: 300px;
                    height: 300px;
                }
            }
            & #img2 {
                width: 116px;
                height: 114.26px;
                margin-bottom: 110px;
                margin-top: 110px;
                margin-left: 25px;
                @media screen and (min-width: 768px) {
                    width: 300px;
                    height: 300px;
                    position: absolute;
                    left: 40px;
                    bottom: 300px;
                }
                @media screen and (min-width: 960px) {
                    width: 400px;
                    height: 400px;

                }
            }
        }
    }
    &-blog {
        @media screen and (min-width: 768px) {
            margin-left: 10%;
            height: 100px;
        }
        h2 {
            z-index: 100;
            top: 0;
            left: 0;
            font-size: 24px;
            color: c.$darkbrown;
            @media screen and (min-width: 768px) {
                font-size: 32px;
            }
            span {
                display: inline-block;
                margin: 10px;
                background-color: rgba(251,242,247,0.8);
                position: relative;
                z-index: 160;
            }
        }
        span::after {
            content: "";
            background-image: url("./../img/GerberaPNG/g03sp.png");
            background-size: 84px 75px;
            opacity: 0.5;
            width: 84px;
            height: 75px;
            left: -15px;
            top: -5px;
            position: absolute;
            display: flex;
            z-index: -5;
            margin: -10px -20px;
        }
        span::before {
            content: "";
            background-image: url("./../img/GerberaPNG/g02sp.png");
            background-size: 54px 52px;
            opacity: 0.5;
            width: 54px;
            height: 52px;
            left: 0px;
            top: 20px;
            position: absolute;
            z-index: -1;
        }
    }
    &-blogtitle {
        display: block;
        position: relative;
        @media screen and (min-width: 768px) {
            margin-left: 10%;
        }
        h2 {
            position: relative;
            font-size: 24px;
            color: c.$darkbrown;
            @media screen and (min-width: 768px) {
                font-size: 32px;
            }
            @media screen and (min-width: 768px) and (max-width: 960px) {
                font-size: 24px;
            }
            span {
                display: inline-block;
                margin: 10px;
                background-color: rgba(251,242,247,0.8);
                position: relative;
                z-index: 160;
            }
        }
        span::after {
            content: "";
            background-image: url("./../img/GerberaPNG/g03sp.png");
            background-size: 84px 75px;
            opacity: 0.5;
            width: 84px;
            height: 75px;
            left: -15px;
            top: -5px;
            position: absolute;
            display: flex;
            z-index: -5;
            margin: -10px -20px;
        }
        span::before {
            content: "";
            background-image: url("./../img/GerberaPNG/g02sp.png");
            background-size: 54px 52px;
            opacity: 0.5;
            width: 54px;
            height: 52px;
            left: 0px;
            top: 20px;
            position: absolute;
            z-index: -1;
        }
    }
    &-inquiry {
        position: relative;
        @media screen and (min-width: 768px) {
            margin-left: 10%;
        }
        h2 {
            position: relative;
            font-size: 24px;
            color: c.$darkbrown;
            @media screen and (min-width: 768px) {
                font-size: 32px;
            }
            span {
                display: inline-block;
                margin: 10px;
                background-color: rgba(251,242,247,0.8);
                position: relative;
                z-index: 160;
            }
        }
        span::after {
            content: "";
            background-image: url("./../img/GerberaPNG/g03sp.png");
            background-size: 84px 75px;
            opacity: 0.5;
            width: 84px;
            height: 75px;
            left: -15px;
            top: -5px;
            position: absolute;
            display: flex;
            z-index: -5;
            margin: -10px -20px;
        }
        span::before {
            content: "";
            background-image: url("./../img/GerberaPNG/g02sp.png");
            background-size: 54px 52px;
            opacity: 0.5;
            width: 54px;
            height: 52px;
            left: 0px;
            top: 20px;
            position: absolute;
            z-index: -1;
        }
    }
}