.p-about {
    margin: 355px auto 0;
    padding: 0 20px;
    overflow: hidden;
    line-height: 32px;
    @media screen and (min-width: 768px) {
        margin-left: 60%;
        margin-top: 40px;
        width: 30%;
    }
    @media screen and (min-width: 960px) {
        width: 400px;
    }
    &-name {
        margin-bottom: 50px;
    }
    &-from {
        margin-bottom: 50px;
    }
    &-story {
        margin-bottom: 50px;
        p {
            line-height: 32px;
        }
    }
    &-history {
        margin-bottom: 50px;
        dl {
            padding: 15px 0;
        }
        dt {
            padding-bottom: 5px;
        }
        @media screen and (min-width: 768px) {
            dt {
                clear: left;
                float: left;
                width: 100%;
            }
        }
        dd {
            margin-left: 11%;
            }
        }
    &-experience {
        margin-bottom: 50px;
    }
    &-skilled {
        margin-bottom: 50px;
    }
    &-hobby {
        margin-bottom: 50px;
    }
    &-sns {
        ul{ 
            list-style: none;
        }
    }
}
.wp-about {
    @media screen and (min-width: 768px) {
        position: relative;
    }
    .size-full {
        height: 144px;
        width: 144px;
        margin-bottom: 140px;
        margin-top: 35px;
        @media screen and (min-width: 768px) {
            width: 200px;
            height: 200px;
            bottom: 800px;
            left: 250px;
            position: absolute;
        }
        @media screen and (min-width: 960px) {
            width: 300px;
            height: 300px;
            position: absolute;
            bottom: 500px;
            left:250px;
        }
    }
    .size-large {
        width: 116px;
        height: 114.26px;
        margin-bottom: 110px;
        margin-top: 110px;
        margin-left: 25px;
        @media screen and (min-width: 768px) {
            width: 300px;
            height: 300px;
            position: absolute;
            left: 40px;
            bottom: 300px;
        }
        @media screen and (min-width: 960px) {
            width: 400px;
            height: 400px;
            position: absolute;
            bottom: 0px;
            left: 40px;

        }
    }
}